:root {
    --yellow-color: #eedf77;
    --blue-color: #68d3fa; 
    --gray-color: #7d7d7d;
    --white-color: #ffffff;
    --black-color: #000000;
    --body-font: 'Lora', 'Libre Caslon Display', serif;
    --heading-font: 'Libre Caslon Display', 'Lora',  serif;
}
.nav-link:hover {
  text-decoration: underline;
}
#top-bar-nav .nav-link.active  {
  border: 1px solid var(--yellow-color);
  border-radius: 5px;  
}  
body {
   font-family: var(--body-font)
}
h2, h5 {
  font-family: var(--heading-font);
}
/* Logo font */
.gloock-regular { 
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
}
.background-danger:hover {
    background-color: var(--yellow-color) !important;
} 
.border-danger {
    border-color: var(--yellow-color) !important;
}
.btn-danger {
    background-color: var(--yellow-color) !important;
    border-color: var(--yellow-color) !important;
}
.transparent-btn:hover {
  background-color: transparent !important;
  border-color: var(--yellow-color) !important;
}
.text-secondary {
    color: var(--gray-color) !important; 
} 
.background-white:hover {
    background-color: var(--white-color) !important;
} 
.footer-link {
  color: var(--yellow-color);
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: underline;
}
.footer-icon {
  color: var(--yellow-color);
  font-size: 1.25rem;
}
.footer-icon:hover {
  opacity: 0.8;
}
/*Home Page*/ 
/* Bootstrap 4 text input with search icon on the right */
.has-search-right {
    position: relative;
}
.has-search-right .form-control {
    padding-right: 2.375rem;
}
.has-search-right .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    color: #aaa;
}
/*Cards*/ 
.card {
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
/* Locations */ 
.location-link:hover {
  text-decoration: underline;
  
}
/* Post Button */
#mobile-post-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}
/* Account Page */ 
 .form-box {
      margin: auto;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
    }
    
/* Contact Page */ 
.form-container {
  max-width: 700px;
  margin: auto;
}
.form-label {
  font-weight: 500;
}
#signin-tab, #signup-tab {
  color: var(--black-color);
}
#signup-tab.active, #signin-tab.active {
  color: var(--gray-color);
}

 /* Adjustments for smaller screens */
@media screen and (max-width: 992px) {
  
  #top-bar-nav .nav-link.active  {
    border:none; 
    text-decoration: underline;
  }
   
}


